<section class="position-relative overflow-hidden vh-100 d-flex align-items-center">
  <div class="container-fluid">
    <img src="assets/images/Vector.svg" class="position-absolute bottom-0 start-0" alt="Background">

    <div class="row g-0 justify-content-between">
      
      <div class="col-sm-12 col-md-6 mb-5 mb-md-0">
        <img src="assets/images/Audi 1.svg" class="car-img position-md-absolute start-md-0 bottom-md-50" alt="Car">
      </div>

      <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-center align-items-start px-5">
        <span class="title_shape mb-4">WHY CHOOSE US</span>
        <h3 class="fw-semibold mt-3 mb-4">We offer the best experience<br>with our rental deals</h3>

        <div class="row text-muted small mt-5 w-100">
          <div class="mb-3 d-flex align-items-center">
            <img src="assets/images/air.svg" class="me-2" width="16" alt="icon"> Air Conditioning
          </div>
          <div class="mb-3 d-flex align-items-center">
            <img src="assets/images/user.svg" class="me-2" width="16" alt="icon"> 2 Passengers
          </div>
          <div class="mb-3 d-flex align-items-center">
            <img src="assets/images/auto.png" class="me-2" width="16" alt="icon"> Auto
          </div>
          <div class="mb-3 d-flex align-items-center">
            <img src="assets/images/Door.svg" class="me-2" width="16" alt="icon"> 2 Doors
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
