<div class="section py-5 position-relative border-top">
    <img src="assets/images/“.svg" class="semicolon1" alt="semicolon">
    <img src="assets/images/semicolon2.svg" class="semicolon2" alt="semicolon">
    <div class="container">
        <div class="d-flex flex-column gap-4 mt-5 pt-5 align-items-center">
            <span class="title_shape">HOW IT WORK</span>
            <h3 class="text-center">What people say about us?</h3>
        </div>
    </div>
    <div class="py-5">
        <swiper-container class="mySwiper" space-between="60" slides-per-view="auto">
            <swiper-slide>
                <div class="row">
                    <div class="col-md-6 px-0"><img src="assets/images/boy.png" alt=""></div>
                    <div class="col-md-6 p-4">
                        <div class="d-flex flex-column  h-100 align-items-start justify-content-between">
                            <div>
                                <h4><span>5.0</span> stars</h4>
                                <ul class="d-flex gap-2 ps-0 flex-row">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                            <div>
                                <p class="text-start">“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                            </div>
                            <div>
                                <h5>Charlie Johnson</h5>
                                <p class="text-muted">From New York, US</p>
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="row">
                    <div class="col-md-6 px-0"><img src="assets/images/Rectangle 8.svg" class="" alt=""></div>
                    <div class="col-md-6 p-4">
                        <div class="d-flex flex-column  h-100 align-items-start justify-content-between">
                            <div>
                                <h4><span>5.0</span> stars</h4>
                                <ul class="d-flex gap-2 ps-0 flex-row">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                            <div>
                                <p class="text-start">“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                            </div>
                            <div>
                                <h5>Charlie Johnson</h5>
                                <p class="text-muted">From New York, US</p>
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="row">
                    <div class="col-md-6 px-0"><img src="assets/images/boy.png" alt=""></div>
                    <div class="col-md-6 p-4">
                        <div class="d-flex flex-column  h-100 align-items-start justify-content-between">
                            <div>
                                <h4><span>5.0</span> stars</h4>
                                <ul class="d-flex gap-2 ps-0 flex-row">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                            <div>
                                <p class="text-start">“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                            </div>
                            <div>
                                <h5>Charlie Johnson</h5>
                                <p class="text-muted">From New York, US</p>
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="row">
                    <div class="col-md-6 px-0"><img src="assets/images/Rectangle 8.svg" alt=""></div>
                    <div class="col-md-6 p-4">
                        <div class="d-flex flex-column  h-100 align-items-start justify-content-between">
                            <div>
                                <h4><span>5.0</span> stars</h4>
                                <ul class="d-flex gap-2 ps-0 flex-row">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                            <div>
                                <p class="text-start">“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                            </div>
                            <div>
                                <h5>Charlie Johnson</h5>
                                <p class="text-muted">From New York, US</p>
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>

</div>