.popular_cars{
    height: auto;
    & input{
        outline: none;
        border: none;
        box-shadow: 0px 4px 20px 4px #e0e7f0;
    }

    & .search_btn{
        right: 20px;
        padding-inline: 20px;
        
    }
    & .icon{
        left: 20px;
    }
    & .title_shape{
        padding-inline: 42px;
        padding-block: 16px;
        background:#ECF5FF;
        border: #ECF5FF;
        border-radius: 8px;
        color:#1572D3 ;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
    & h3{
        font-family: "Poppins", sans-serif;
        font-size: 38px;
        font-weight: 500;
    }

    & .btn_show{
        align-self:center ;
        width: fit-content;
        padding-inline: 40px;
        padding-block: 10px;
        border: 1px solid gray;

    }
}
