<section class="popular_cars">
    <div class="container">
        <div class="d-flex flex-column gap-4 justify-content-center">
            <div class="position-relative">
                <i class="fa-solid fa-xl fa-location-dot position-absolute  translate-middle-y top-50 icon"></i>
                <input type="text" name="search" [(ngModel)]="name" id="search" class="bg-black" placeholder="Search By Name"
                    class="w-100 ps-5 py-3 rounded-3">
                <button class="search_btn btn btn-primary position-absolute translate-middle-y top-50">Search</button>
            </div>
            <div class="align-self-center mt-4">
                <span class="title_shape">POPULAR RENTAL DEALS</span>
            </div>
            <h3 class="text-center mt-3 mb-2">Most popular cars rental deals</h3>

            <div class="row g-5 justify-content-center">
                <div class="col-md-6 col-lg-3" *ngFor="let car of carsList|search:name |slice:0:4">
                    <div class="card rounded-3 shadow border-0 p-4 h-100">
                        <img src="assets/images/Audi 1.svg" class="card-img-top mb-3" alt="Jaguar XE L P250">

                        <h6 class="fw-semibold">{{car.car}} </h6>
                        <div class="text-muted small mb-2">
                            ⭐ 4.8 <span class="text-secondary">(2,436 reviews)</span>
                        </div>
                        <div class="row text-muted small mb-3 gx-0">
                            <div class="col-7 mb-2"><img src="assets/images/user.svg" class="icon_card" alt="user"> 4 Passengers</div>
                            <div class="col-5 mb-2"><img src="assets/images/auto.png" class="icon_card" alt="auto"> Auto</div>
                            <div class="col-7"><img src="assets/images/air.svg" class="icon_card" alt="air"> Air Conditioning</div>
                            <div class="col-5"><img src="assets/images/Door.svg" class="icon_card" alt="door"> 4 Doors</div>
                        </div>

                        <hr>
                        <div class="fw-semibold mb-2 text-muted d-flex justify-content-between">
                            <span>Price</span>
                            <span><span class="text-dark">{{car.price}}</span> /day</span>
                        </div>
                        <a class="btn btn-primary w-100"[routerLink]="['/carDetails',car.id]">Rent Now <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <button class="btn_show btn my-3" routerLink="/allCars">Show all vehicles <i class="bi bi-arrow-right"></i></button>

        </div>
    </div>
</section>