<footer class="">
  <div class="container">
    <div class="row row py-5 border-bottom">
      <div class="col-md-4">
        <a class="navbar-brand"><img src="assets/images/logoFooter.svg" class="me-2" alt="logo">RENTCARS</a>
        <ul class="nav flex-column mt-4">
          <li class="nav-item my-2 d-flex align-items-center">
            <i class="bi bi-geo-alt fs-3 me-3"></i>
            <a href="#" class="nav-link p-0">
              25566 Hc 1, Glenallen,<br> Alaska, 99588, USA</a>
          </li>
          <li class="nav-item my-2 d-flex align-items-center">
            <i class="bi bi-telephone fs-3 me-2"></i>
            <a href="#" class="nav-link p-0">+603 4784 273 12</a>
          </li>
          <li class="nav-item my-2 d-flex align-items-center">
            <i class="bi bi-geo-alt fs-3 me-3"></i>
            <a href="#" class="nav-link p-0">{{email}}</a>
          </li>

        </ul>
      </div>

      <div class="col-md-4 col-lg-2">
        <h5>Our Product</h5>
        <ul class="nav flex-column mt-4">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Career</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Car</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Packages</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Priceline</a></li>
        </ul>
      </div>

      <div class="col-md-4 col-lg-2">
        <h5>Resources</h5>
        <ul class="nav flex-column mt-4">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Download</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Help Centre</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Guides</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Partner Network</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Cruises</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Developer</a></li>
        </ul>
      </div>

      <div class="col-md-4 col-lg-2">
        <h5>About Rentcars</h5>
        <ul class="nav flex-column mt-4">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Why choose us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Our Story</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Investor Relations</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Press Center</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Advertise</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-2">
        <h5>Follow Us</h5>
        <ul class="nav gap-2 mt-4 icon_social">
          <li class="nav-item mb-2"><img src="/assets/images/facebook.svg" alt=""></li>
          <li class="nav-item mb-2"><img src="/assets/images/instagram.svg" alt=""></li>
          <li class="nav-item mb-2"><img src="/assets/images/youtube.svg" alt=""></li>
        </ul>
      </div>
    </div>
    <p class="py-5 mb-0 text-white">Copyright 2023 ・ Rentcars, All Rights Reserved</p>
  </div>
</footer>