<section class="position-relative overflow-hidden d-flex align-items-center">
    <div class="container-fluid">
        <img src="assets/images/Vector.svg" class="position-absolute bottom-0 start-0" alt="Background">

        <div class="row g-0 justify-content-between">

            <div class="col-sm-12 col-lg-6 mb-5 mb-md-0">
                <img src="assets/images/Audi 1.svg" class="car-img"
                    alt="Car">
            </div>
            <div class="col-sm-12 col-lg-6 d-flex flex-column justify-content-center align-items-center align-items-lg-start px-5">
                <span class="title_shape mb-4">WHY CHOOSE US</span>
                <h3 class="fw-semibold mt-3 mb-4">We offer the best experience<br> with our rental deals</h3>
                <ul class="d-flex flex-column gap-3 px-0 py-3 my-4">
                    <li class="my-2 d-flex align-items-center">
                        <span class="icon_shape"><img src="../../../../assets/images/wallet.svg" alt="wallet"></span>
                        <div class="d-flex flex-column">
                            <h4>Best price guaranteed</h4>
                            <p>Find a lower price? We’ll refund you 100% <br> of the difference.</p>
                        </div>
                    </li>
                    <li class="my-2 d-flex align-items-center">
                        <span class="icon_shape"><img src="../../../../assets/images/user-tick.svg" alt="wallet"></span>
                        <div class="d-flex flex-column">
                            <h4>Experience driver</h4>
                            <p>Don’t have driver? Don’t worry, we have many<br>experienced driver for you.</p>
                        </div>
                    </li>
                    <li class="my-2 d-flex align-items-center">
                        <span class="icon_shape"><img src="../../../../assets/images/24-support.svg" alt="wallet"></span>
                        <div class="d-flex flex-column">
                            <h4>24 hour car delivery</h4>
                            <p>Book your car anytime and we will deliver it<br>directly to you.</p>
                        </div>
                    </li>
                    <li class="my-2 d-flex align-items-center">
                        <span class="icon_shape"><img src="../../../../assets/images/messages-2.svg" alt="wallet"></span>
                        <div class="d-flex flex-column">
                            <h4>24/7 technical support</h4>
                            <p>Have a question? Contact Rentcars support<br>any time when you have problem.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>