.hero-section {
  height: 100vh;
}
.img_bg{
    opacity: 13%;
}
.car-img {
  max-width: 50vw; 
  height: auto;
  z-index: 1;
}
span img{
    bottom:-10px;
}
.info{
  font-family: "Poppins", sans-serif;
  & .headerInfo{
  font-size: 48px;
  font-weight: 600;
}
  & p{
    font-size: 18px;
    font-weight: 400;
  }
}
@media (min-width: 1200px) {
  .car-img {
    position: absolute;
    right: 0;
  }
  .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
