<section class="hero-section">
  <img src="assets/images/bgCarGroup.svg" class="img_bg position-absolute top-0 end-0" alt="Background">

  <!-- Container for Text Content -->
  <div class="container py-5 d-flex  flex-lg-row align-items-center justify-content-between">
    
    <!-- Text Column -->
    <div class="text-start mb-4 mb-lg-0 translate-middle-y top-50 position-absolute">
      <h2 class="headerInfo">
        Find, book and <br>rent a car 
        <span class="text-primary position-relative">
          Easily 
          <img src="assets/images/VectorEasily.svg" class="position-absolute end-0" alt="vector">
        </span>
      </h2>
      <p class="my-4">Get a car wherever and whenever you <br> need it with your IOS and Android device.</p>

      <div class="d-flex gap-3">
        <img src="assets/images/image 2.png" alt="Google Play" height="50">
        <img src="assets/images/AppStorMac.png" alt="App Store" height="50">
      </div>
    </div>
  </div>

  <img src="assets/images/carHro.svg" class="car-img position-absolute end-0" alt="Car Hero">
</section>
